.view-logo {
    height: 67px;
    padding: 0 50px;
    float: left;
}
#headerbox .brand{
    float: none;
    margin: auto 560px auto 0;
    padding: 0px;
    text-align: center;
    overflow: hidden;
}
.fileDetail {
    position: absolute;
    top: 67px;
    right: 0;
    bottom: 0;
    width: 270px;
    overflow: hidden;
}

.fileDetail i {
    display: inline-block;
    cursor: pointer;
}

.fileDetail > div {
    padding: 10px 8px;
}

.fileDetail > div > p {
    color: #899096;
    font-size: 14px;
    height: 24px;
    width: 100%;
}

.fileDetail > div > p > span {
    display: inline-block;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

.fileDetail ul {
    margin-left: 0;
}
.fileView {
    background: #919AA3;
    position: absolute;
    top: 67px;
    right: 270px;
    bottom: 0;
    left: 0;
}

.fileView .pic-show-wrap {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 140px;
    left: 0;
}

.fileView .pic-show-wrap table {
    width: 100%;
    height: 100%;
}

.fileView .pic-show-wrap td {
    text-align: center;
    vertical-align: middle;
}

.fileView .pic-show-wrap .pic-show {
    padding: 10px;
    overflow: auto;
}

.fileView .pic-show-wrap .pic-show img {
    margin: auto auto;
    border: 5px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    /*max-width: 730px;*/
    /*max-height: 500px;*/
    display: inline;
}

.fileView .pic-show-wrap .title {
    color: #FFFFFF;
}

.fileView .pic-show-wrap .show-grid-wrap {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.fileView .pic-show-wrap .show-grid {
    height: 43px;
    line-height: 43px;
    background-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;

    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

    opacity: 0.3;
}

.fileView .pic-show-wrap .show-grid:hover {
    opacity: 1.0;
}

.fileView .pic-show-wrap .show-grid .grid-bar {
    float: left;
}

.fileView .pic-show-wrap .show-grid i {
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
}

.fileView .show-grid .progress {
    display: inline-block;
    margin: 11px 10px 0;
    padding-top: 0;
    width: 140px;
    float: left;
}

.fileView .pic-control-wrap {
    padding: 15px 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #6A737A;
    height: 102px;

}

.fileView .pic-control-wrap > div {
    position: relative;
    display: inline-block;
}

.fileView .pic-control-wrap .pic-list {
    height: 102px;
    line-height: 98px;
    overflow: hidden;
    position: absolute;
    left: 60px;
    right: 60px;
}

.fileView .pic-control-wrap .pic-list .pic-li {
    position: absolute;
    top: 0px;
    left: 0px;
}

.fileView .pic-control-wrap .pic-list li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.fileView .pic-control-wrap .pic-list ul li img {
    cursor: pointer;
}

.fileView .pic-control-wrap .pic-control {
    background-color: #919AA3;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 100;
    height: 102px;
    line-height: 102px;
    opacity: 0.5;
    text-align: center;
    width: 30px;
    cursor: pointer;
}

.fileView .pic-control-wrap .left {
    border-radius: 5px 0px 0px 5px;
    margin-right: 10px;
    float: left;
}

.fileView .pic-control-wrap .right {
    border-radius: 0px 5px 5px 0px;
    margin-left: 10px;
    float: right;
}

.fileView .pic-control-wrap .pic-list .is-show {
    border: 3px solid #15EAFF;
    border-radius: 2px 2px 2px 2px;
}

.fileView .swfObjectWrapper {
    margin-left: auto;
    margin-right: auto;
}

.fileView .swfObjectDiv object {
    visibility: visible;
    width: 100%;
    height: 100%;
}

.fileView .htmlView {
    border-width: 0;
    width: 100%;
    height: 100%;
    outline: none;
    overflow: auto;
    background-color: #FFFFFF;
    border-right: 3px solid #919AA3;
}

.pic-show img {
    display: block;
}

.picFullScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1024;
}

.picFullScreenModal {
    width: 100%;
    height: 100%;
    background-color: #919AA3;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
}
.picFullScreenInner {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}
.picFullScreen .closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;

    background-image: url("../../../../../baiduyundownload/os/img/icons.png");
    background-position: -14px -14px;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.picFullScreen img {
    display: inline-block;
    margin: auto;
    border: 5px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
}

.iconZoomOut {
    background-image: url("../../../../../baiduyundownload/os/img/icons.png");
    background-position: 0 -154px;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.iconZoomOut:hover {
    background-position: 0 -168px;
}

.iconZoomIn {
    background-image: url("../../../../../baiduyundownload/os/img/icons.png");
    background-position: -14px -154px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.iconZoomIn:hover {
    background-position: -42px -154px;
}

.iconReduceSize {
    background-image: url("../../../../../baiduyundownload/os/img/icons.png");
    background-position: -126px -154px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.iconReduceSize:hover {
    background-position: -154px -154px;
}

.iconFullScreen {
    background-image: url("../../../../../baiduyundownload/os/img/icons.png");
    background-position: -462px -154px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.iconFullScreen:hover {
    background-position: -490px -154px;
}

.iconPre {
    background-image: url("../../../../../baiduyundownload/os/img/icons.png");
    background-position: -182px -154px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.iconPre:hover {
    background-position: -210px -154px;
}

.iconNext {
    background-image: url("../../../../../baiduyundownload/os/img/icons.png");
    background-position: -238px -154px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.iconNext:hover {
    background-position: -266px -154px;
}

.iconRotateLeft {
    background-image: url("../../../../../baiduyundownload/os/img/icons.png");
    background-position: -294px -154px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.iconRotateLeft:hover {
    background-position: -322px -154px;
}

.iconRotateRight {
    background-image: url("../../../../../baiduyundownload/os/img/icons.png");
    background-position: -350px -154px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.iconRotateRight:hover {
    background-position: -378px -154px;
}

.iconPrint {
    background-image: url("../../../../../baiduyundownload/os/img/icons.png");
    background-position: -406px -154px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.iconPrint:hover {
    background-position: -434px -154px;
}

.iconSeptate {
    background-image: url("../../../../../baiduyundownload/os/img/fileimg/icon-septate.png");
    width: 1px;
    height: 15px;
}

