.right {
    float: right;
}

a:focus {
    outline: 0;
}

.menubar {
    padding: 0px 10px 0px 10px;
    color: #ffffff;
}

.loginhidden {
    display: none;
}

.header {
    height: 67px;
    width: 100%;
    margin: 0;
    /*(background: url("../img/header-bg.png") center repeat-x; */
    filter: none;
}

.logo {
    background: url("../../../../../baiduyundownload/os/img/logo.png") no-repeat scroll 1px 0 transparent;
    display: inline-block;
    height: 37px;
    width: 228px;
    margin-top: 20px;
}

#mainbox {
    width: 100%;
    overflow: hidden;
}

.content-right {
    margin: 0 !important;
    padding: 0 !important;
    min-width: 660px;
}

.content-left {
    width: 206px !important;
    margin: 0 !important;
    padding: 0 !important;
}

.slide-right {
    width: 270px !important;
    margin: 0 !important;
    padding: 0 !important;
    border-left: 1px #d5ddea solid;
    background-color: #F6F9FE;
    height: 100%;
}

.overflow-hidden-x {
    overflow-x: hidden !important;
}

.overflow-hidden-y {
    overflow-y: hidden !important;
}

.overflow-auto-y {
    overflow-x: hidden;
    overflow-y: auto;
}

.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.pull-down {
    padding-top: 40px;
}

.custom-header {
    height: 67px;
    line-height: 67px;
    color: #fff;
    border: 0;
    border-radius: 0;
    border-bottom: 0;
}

.navbar-inverse .custom-header {
    background: url("../../../../../baiduyundownload/os/img/header-bg.png") center repeat-x;
    filter: none;
    padding-bottom: 1px;
}

.custom-fluid {
    height: 67px;
}

.container .custom-fluid {
    height: 100%;
}

.custom-pulldown {
    height: 67px;
    padding: 0;
}

.navbar .custom-pulldown {
    position: relative;
    left: 20px;
}

.navbar .custom-brand {
    padding: 0 50px;
    height: 67px;
    color: #fff;
}

.custom-pulldown > li {
    height: 28px;
    line-height: 28px;
    position: relative;
    top: 40px;
    width: auto;
}

.custom-pulldown > li a {
    display: block;
    height: 28px;
    text-align: center;
}

.navbar .custom-pulldown > li a {
    font-size: 24px;
    padding: 0;
    margin: 0 6px;
    color: #fff;
}

.navbar .custom-pulldown>.active>a, .navbar-inverse .custom-pulldown .active>a:hover, .navbar-inverse .custom-pulldown .active>a:focus {
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: none;
}

.navbar-inverse .custom-pulldown .active>a:active, .navbar-inverse .custom-pulldown .active>a:visited {
    border: none;
}

.custom-project-title {
    border-radius: 0;
    border-bottom: 1px solid #ECECEC;
    height: 26px;
    line-height: 25px;
    border: 0;
    border-bottom: 1px solid #b9b9b9;
}

.accordion-heading.custom-project-title i {
    font-size: 16px;
}

.custom-project-title span, .custom-project-title a {
    padding: 0 10px;
    display: inline-block;
    font-weight: bold;
    color: #5d6b86;
}

.custom-project-title a {
    color: #7b92a0;
    text-decoration: none;
}

.custom-project-title a:hover {
    text-decoration: none;
}

.conference_view .custom-project-title {
    padding: 0;
    margin: 0 0 9px 0;
}

.conference_view .open>.dropdown-menu {
    margin-left: -50px;
}

.accordion-inner .input-append i.icon-search {
    position: relative;
}

.custom-content-left {
    background: #dbe5f1;
    border-right: 1px solid #d5ddea;
}

#file-left-view .custom-nav-list {
    padding: 0;
}

#fileTreeBottom .navLink1 {
    height: 27px;
    background: url('../../../../../baiduyundownload/os/img/fileLeft/navlist.jpg') repeat;
    border-bottom: 1px solid #c6d0d9;
    text-align: center;
    cursor: pointer;
}

#fileTreeBottom span {
    padding: 0;
    margin: 0;
    color: #7f8c9d;
    font-size: 14px;
    line-height: 25px;
}

#fileTreeBottom i[class^="icon-"] {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-top: -1px;
    background: url('../../../../../baiduyundownload/os/img/icons.png')
}

#fileTreeBottom i.icon-interest {
    background-position: -350px -41px;
}

#fileTreeBottom li:hover i.icon-interest, #fileTreeBottom li.active i.icon-interest {
    background-position: -350px -56px;
}

#fileTreeBottom i.icon-share-link {
    background-position: -364px -41px;
}

#fileTreeBottom li:hover i.icon-share-link, #fileTreeBottom li.active i.icon-share-link {
    background-position: -364px -56px;
}

#fileTreeBottom i.icon-favorite {
    background-position: -378px -41px;
}

#fileTreeBottom li:hover i.icon-favorite, #fileTreeBottom li.active i.icon-favorite {
    background-position: -378px -56px;
}

#fileTreeBottom i.icon-recycle {
    background-position: -392px -41px;
}

#fileTreeBottom li:hover i.icon-recycle, #fileTreeBottom li.active i.icon-recycle {
    background-position: -392px -56px;
}

#fileTreeBottom li:hover, #fileTreeBottom li.active {
    background: #256D9F;
    font-weight: bold;
}

#fileTreeBottom li:hover span, #fileTreeBottom li.active span {
    color: #FFFFFF;
}

.file-pic-area {
    background-color: #D6DDED;
    padding: 30px 0 10px 0;
}

.file-pic-area div {
    text-align: center;
}

.file-pic-area #Thumbnail {
    margin: 0 auto;
    width: 96px;
    height: 96px;
}

.file-pic-area .txt {
    margin-top: 15px;
    width: 100%;
    height: 24px;
    line-height: 24px;
}

.file-pic-area .txt label {
    font-weight: bold;
    margin: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    cursor: default;
}

.file-pic-area > div[class*='file'] {
    background-image: url("../../../../../baiduyundownload/os/img/96icon.png");
}

.file-pic-area > div.file-folder {
    background-position: -576px -96px;
}

.file-pic-area > div.file-visio {
    background-position: -28px 0px;
}

.file-pic-area > div.file-pdf {
    background-position: -576px 0px;
}

.file-pic-area > div.file-doc {
    background-position: -192px 0px;
}

.file-pic-area > div.file-excel {
    background-position: -291px 0px;
}

.file-pic-area > div.file-txt {
    background-position: 0px -96px;
}

.file-pic-area > div.file-oatw {
    background-position: -384px -96px;
}

.file-pic-area > div.file-mp3 {
    background-position: -480px 0px;
}

.file-pic-area > div.file-mp4 {
    background-position: -384px 0px;
}

.file-pic-area > div.file-ppt {
    background-position: 0px 0px;
}

.file-pic-area > div.file-ios {
    background-position: -192px -96px;
}

.file-pic-area > div.file-exe {
    background-position: -672px -96px;
}

.file-pic-area > div.file-zip {
    background-position: -96px -97px;
}

.file-pic-area > div.file-apk {
    background-position: -288px -96px;
}

.file-pic-area > div.file-unknow {
    background-position: -480px -96px;
}

.file-pic-area > div.file-img {
    background-image: url("../../../../../baiduyundownload/os/img/default-img-thumb.png");
    background-position: 0px 0px;
}

table.file-pic-area {
    width: 100%;
}

.file-pic-area td {
    font-size: 12px;
    color: #7f8c9d;
    text-align: center;

}

.file-pic-area td a {
    width: 98%;
    border-right: 1px solid #d5ddea;
    margin: 2px 0;
}

.file-pic-area td .custom-btn {
    padding: 0;
    color: #7e91a0;
}

.file-detail-info ul {
    padding: 0 10px;
}

.file-detail-info ul li {
    height: auto;
    line-height: 25px;
}

.file-detail-info ul li .infoview {
    padding: 0 10px;
}

.file-detail-info ul li .infoview table {
    width: 100%;
}

.entFileItem ul li, .recycle-ul li {
    display: inline-block;
}

#headerbox .custom-pulldown .popover {
    width: 280px;
    border: 0;
    background: transparent;
    box-shadow: none;
    left: -58px !important;
}

#headerbox .custom-pulldown .popover .arrow {
    display: none;
}

#headerbox .custom-pulldown .popover .popover-title {
    display: none;
}

#headerbox .custom-pulldown .popover .popover-content {
    width: 280px;
}

#headerbox .user-center {
    border: 1px solid #D0D7DF;
    width: 282px;
    height: 282px;
    top: -16px;
    z-index: 9999;
    position: relative;
}

#headerbox .user-center .userView {
    width: 270px;
    height: 280px;
    border: 1px solid #FFFFFF;
    background: #CBD3DB;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#CBD3DB', endColorstr='#F1F6FB');
    background: -o-linear-gradient(top, #CBD3DB, #F1F6FB);
    background: -webkit-gradient(linear, left top, left bottom, from(#CBD3DB), to(#F1F6FB));
    background: -moz-linear-gradient(top, #CBD3DB, #F1F6FB);
    padding: 0 5px;
    font-size: 12px;
    color: #8590A4;
    font-family: Microsoft YaHei;
}

#headerbox .user-center .setBtn {
    width: 256px;
    margin-left: 7px;
}

#headerbox .user-center .setBtn a:hover {
    text-decoration: none;
}

#headerbox .user-center .setBtn a, #headerbox .user-center .setBtn span {
    line-height: 26px;
    font-weight: bold;
}

#headerbox .user-center .setBtn i {
    margin-right: 8px;
}

#headerbox .user-center .userView > div > div > p {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#headerbox .user-center .userView > p {
    width: 265px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#headerbox .user-center .userView .space {
    margin-right: 7px;
}

#headerbox .user-center .userView .space + a {
    background-color: #43A9F4;
    padding: 0 4px;
    color: #FFFFFF;
}

#headerbox .user-center .userView div.status {
    height: 26px;
}

#headerbox .user-center .userView .nav label {
    background-color: transparent;
    color: #8590A4;
}

#headerbox .user-center .userView .nav label .caret {
    color: #8590A4;
    border-bottom-color: #8590A4;
    border-top-color: #8590A4;
}

#headerbox .user-center .userView .nav > li > ul a:hover {
    cursor: pointer;
}

#headerbox .user-center .userView .nav > .dropdown > div {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid #8590A4;
}

.nav > .dropdown > div.online {
    background-color: #6ADA48;
}

.nav > .dropdown > div.busy {
    background-color: #D53233;
}

.nav > .dropdown > div.leave {
    background-color: #2F2BE2;
}

.nav > .dropdown > div.offline, div.logout {
    background-color: #959990;
}

.nav > .dropdown > div.corbet {
    background-color: #E2DC2B;
}

#headerbox .user-center .userView p {
    height: 22px;
    line-height: 22px;
}

#headerbox .user-center .userView p span {
    font-weight: bold;
    color: #636E84;
    text-shadow: 1px 1px 1px #F4F8F9;
}

#headerbox .user-center .userView p.can-edit span {
    font-weight: bold;
    color: #8590A4;
}

#headerbox .user-center .userView p input {
    display: none;
    width: 112px;
    padding: 0;
    margin-bottom: 0px;
}

#headerbox .user-center .userView p.editing span {
    display: none;
}

#headerbox .user-center .userView p.editing input {
    display: inline-block;
}

#headerbox .user-center .userView > div > .span5 {
    margin-top: 5px;
}

#headerbox .user-center .userView img {
    width: 110px;
    height: 110px;
    border: 1px solid #FFFFFF;
}

#headerbox .custom-pulldown .userView .user-name {
    font-size: 20px;
    font-family: Microsoft YaHei;
    color: #3c5267;
    text-shadow: 1px 1px 1px #e8eced;
    line-height: 30px;
    height: 30px;
}

#headerbox .custom-pulldown .userView label {
    font-size: 12px;
    color: #8590a4;
}

#headerbox .container-fluid > ul {
    margin-right: 10px;
}

#headerbox ul > li > div.user-avatar {
    display: inline-block;
    width: 28px;
    height: 24px;
    float: left;
    margin-right: 3px;
}

#headerbox ul > li > div.user-avatar + div {
    height: 24px;
    line-height: 24px;
    display: inline-block;
    background-color: transparent;
    font-size: 16px;
    color: #FFFFFF;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.css-inline-block {
    display: inline-block !important;
}

#headerbox ul > li > div.user-avatar img {
    width: 24px;
    height: 24px;
    float: right;
    border-left: 1px solid #539DCE;
}

#headerbox ul > li > div.user-avatar.online {
    background-color: #6ADA48;
}

#headerbox ul > li > div.user-avatar.busy {
    background-color: #D53233;
}

#headerbox ul > li > div.user-avatar.leave {
    background-color: #2F2BE2;
}

#headerbox ul > li > div.user-avatar.offline, div.user-avatar.logout {
    background-color: #959990;
}

#headerbox ul > li > div.user-avatar.corbet {
    background-color: #E2DC2B;
}

.custom-fluid {
    margin-top: 1px;
}

#folderTree .ztree li a {
    color: #427CA2;
}

#folderTree .ztree li a.curSelectedNode {
    font-weight: bold;
    background-color: #c9d5e3;
    border: 0px;
}

.ztree li span.button.noline_close {
    background-position: -296px 0;
}

.ztree li span.button.noline_open, .ztree li span.button.center_open {
    background-position: -279px 0;
    height: 14px;
    width: 14px;
}

.ztree li span.button.noline_close, .ztree li span.button.center_close {
    background-position: -291px 0;
    height: 14px;
    width: 14px;
}

.ztree li span.button {
    height: 14px;
    margin: 0 5px 5px;
    width: 14px;
}

.ztree li span.button {
    background-image: url("../../../../../baiduyundownload/os/img/oatos-icons.png")
}

.ztree li span.button.folder_ico_open {
    background-position: -251px 0;
}

.ztree li span.button.folder_ico_close, .ztree li span.button.folder_ico_docu {
    background-position: -238px 0;
}

.ztree li span#entFolderTree_1_ico {
    background-position: -224px 0;
}

.ztree li span#personFolderTree_1_ico {
    background-position: -266px 0;
}

.ztree li span.button.folder_ico_docu {
    margin-left: 0;
}

.message-view .nav-tabs {
    margin-bottom: 0;
    height: 37px;
}

.message-view  .tab-content {
    margin-top: 10px;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.progressbar {
    left: 30%;
    margin-right: auto;
    position: absolute;
    top: 50%;
    width: 40%;
}

.progressbar .bar {
    color: red;
    text-align: center;
}

.admin-mgr a#adminMgr {
    margin: 0;
    color: #29e4f3;
    font-size: 12px ! important;
    font-family: "宋体", Arial, sans-serif;
    line-height: 28px;
    float: left;
}

.admin-mgr a#adminMgr:hover {
    color: #fff;
}

.hide-important {
    display: none !important;
}

.show-important {
    display: block !important;
}

body {
    min-width: 1140px;
    overflow-x: auto;
    overflow-y: hidden;
}

body #mainbox {
    min-width: 1140px;
}

body .nicescroll-rails {
    background-color: #A0A3AC;
    border-radius: 7px 7px 7px 7px;
}

body .nicescroll-rails div {
    background-color: #000000 !important;
    border: medium none;
    border-radius: 7px;
    border: none;
    opacity: 0.3;
    width: 7px !important;
}

body .icon-contact {
    width: 28px ! important;
    height: 28px;
    background: url('../../../../../baiduyundownload/os/img/icons.png') 0 -42px no-repeat;
}

a:hover>.icon-contact {
    background-image: url('../../../../../baiduyundownload/os/img/icons.png') ! important;
    background-position: -28px -42px;
    background-repeat: no-repeat;
}

body .icon-conference {
    width: 28px ! important;
    height: 28px;
    background: url('../../../../../baiduyundownload/os/img/icons.png') -56px -42px no-repeat;
}

a:hover>.icon-conference {
    background-image: url('../../../../../baiduyundownload/os/img/icons.png') ! important;
    background-position: -84px -42px;
    background-repeat: no-repeat;
}

body .icon-message {
    width: 28px ! important;
    height: 28px;
    background: url('../../../../../baiduyundownload/os/img/icons.png') -112px -42px no-repeat;
}

a:hover>.icon-message {
    background-image: url('../../../../../baiduyundownload/os/img/icons.png') ! important;
    background-position: -140px -42px;
    background-repeat: no-repeat;
}

body .icon-cloud-updown {
    width: 28px ! important;
    height: 28px;
    background: url('../../../../../baiduyundownload/os/img/icons.png') -168px -42px no-repeat;
}

a:hover>.icon-cloud-updown {
    background-image: url('../../../../../baiduyundownload/os/img/icons.png') ! important;
    background-position: -196px -42px;
    background-repeat: no-repeat;
}

.nav-tabs li.active>a {
    background: #5ab8f6;
}

.nav li .icon-backend {
    display: inline-block ! important;
    width: 14px ! important;
    height: 14px;
    background: url('../../../../../baiduyundownload/os/img/icons.png') -476px -42px no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}

.nav li a:hover .icon-backend {
    background: url('../../../../../baiduyundownload/os/img/icons.png') -476px -56px no-repeat;
}

table.ui_dialog  td.ui_main {
    vertical-align: top;
}

table.ui_dialog  td.ui_main  .ui_content {
    float: left;
}

.ui_state_tips table.ui_dialog  td.ui_main  .ui_content {
    text-align: center;
}

#entFolderTreeDiv {
    margin-top: 15px;
}

#headerbox ul.nav .userName-a {
    display: inline-block;
    margin: 0 0 0 5px;
    background: transparent;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
}

#headerbox ul.nav .userName-a:hover {
    background: #539DCE;
}

.custom-pulldown .header-line {
    height: 14px;
    width: 1px;
    background: #2b6a96;
    margin: 8px 12px 0 8px;
    display: block;
    float: left;
}

li.admin-mgr {
    width: 100px;
}

.slide-header > h3.help-inline {
    color: #7c929f;
}

table.ui_dialog .ui_icon {
    display: none;
}

.ui_state_lock table.ui_dialog  i[class^="icon-custom-"] {
    width: 28px;
    height: 28px;
    background-image: url('../../../../../baiduyundownload/os/img/icons.png');
    vertical-align: middle;
    display: inline-block;
    margin-right: 15px;
}

.ui_state_lock table.ui_dialog  .icon-custom-confirm {
    background-position: -392px -70px;
}

.ui_state_lockt able.ui_dialog  .icon-custom-alert {
    background-position: -336px -70px;
}

.ui_state_lock table.ui_dialog  i[class^="icon-custom-"] + span {
    display: inline-block;
    word-wrap: break-word;
    max-width: 70%;
    vertical-align: middle;
    line-height: 28px;
    text-align: left;
}

.data-table {
    margin: 0 15px;
    overflow: hidden;
    position: relative;
}

.data-table  ul.table-header {
    background: none repeat scroll 0 0 #F8F9FD;
    border-bottom: 1px solid #CCCDCF;
    border-top: 1px solid #CCCDCF;
    color: #7E91A0;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.data-table ul.table-content {

}

.data-table ul.table-content > li.table-item {
    border-bottom: 1px solid #CCCDCF;
    color: #7E91A0;
    font-family: Arial, '宋体';
    font-size: 12px;
    height: 35px;
    padding-left: 0;
}

.data-table .file-check {
    height: 20px;
    min-width: 30px;
    vertical-align: middle;
    width: 30px;
}

li.table-item > ul.each-table {
    height: 100%;
    width: 100%;
    line-height: 35px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

ul.table-header li, ul.each-table li {
    display: inline-block;
    min-width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.checkbox-sprite {
    background-image: url("../../../../../baiduyundownload/os/img/btn_icon.gif");
    background-position: -113px 0;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 17px;
    width: 17px;
    vertical-align:middle;
}

.checkbox-sprite.true {
    background-position: -113px -17px !important;
}

.checkbox-sprite.false {
    background-position: -113px 1px;
}

/**
 * 联系人选择树
 */
.user-tree.ztree li > span.button {
    margin: 5px;
}

.user-tree.ztree li a {
    height: 24px;
    line-height: 24px;
    display: inline-block;
}

.user-tree.ztree li a {
    text-decoration: none;
}

.user-tree.ztree li a:link {
    text-decoration: none;
}

.user-tree.ztree li a:active {
    text-decoration: none;
}

.user-tree.ztree li a:hover {
    text-decoration: none;
}

.user-tree.ztree li a:visited {
    text-decoration: none;
}

.user-tree.ztree li a {
    height: 24px;
    line-height: 24px;
    display: inline-block;
}

.user-tree.ztree li span.button.noline_open, .user-tree.ztree li span.button.center_open {
    margin-top: 3px;
}

.user-tree.ztree a.department > span {
    font-size: 12px;
    font-weight: bold;
    color: #518CB6;
}

.contactSelectTree.ztree li ul[class^="level"],
.departmentUserTree.ztree li ul[class^="level"],
.contactSelectTree.ztree li ul[class*="level"],
.departmentUserTree.ztree li ul[class*="level"] {
    margin-left: 10px;
}

.user-tree.ztree li span.button.chk {
    background-image: url("./ztree/img/zTreeStandard.png") !important;
}

.user-tree.ztree  .ico_open, .user-tree.ztree  .ico_close {
    display: none !important;
}

.user-tree.ztree li > span.chk[name=user_chk] {
    margin-top: 10px;
    cursor: pointer;
}

.user-tree.ztree li a.user {
    width: 152px;
    height: 31px;
    line-height: 31px;
    padding-top: 2px;
    font-weight: normal;
    position: relative;
}

.user-tree.ztree a.user span.user_avatar_ico_docu {
    border: 0px;
}

.user-tree.ztree a.user span.button {
    background-image: none;
    /* background-size: 25px !important; */
    height: 25px;
    width: 29px;
    margin-right: 5px;
    vertical-align: middle;
    border: 1px solid #FFFFFF;
}

.user-tree.ztree a.user span.button img {
    height: 25px;
    width: 25px;
    float: right;
    border-left: 1px solid #FFFFFF;
}

.user-tree.ztree a.user span.button + span {
    display: inline-block;
    width: 65px;
    height: 25px;
    line-height: 25px;
    margin-top: -4px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-tree.ztree li span.button.chk.checkbox_true_part {
    background-position: 0 0;
}

.folder-tree.ztree li span.button.chk.checkbox_false_full, .folder-tree.ztree li span.button.chk.checkbox_false_part {
    background-position: -168px -85px;
}

.folder-tree.ztree li span.button.chk.checkbox_false_full_focus, .folder-tree.ztree li span.button.chk.checkbox_true_full_focus {
    background-position: -169px -99px;
}

.folder-tree.ztree li span.button.chk.checkbox_true_full, .folder-tree.ztree li span.button.chk.checkbox_true_part {
    background-position: -365px -14px;
}

/*
* 后台管理，账户管理左导航
*/
.nav-adminMgr li a, .nav-user-setting li a {
    font-size: 14px;
}

.nav-adminMgr li.active a, .nav-user-setting li.active a {
    color: #FFFFFF;
    font-weight: bold;
}

.nav-adminMgr li a, .nav-adminMgr li a:hover, .nav-adminMgr li a:focus, .nav-user-setting li a, .nav-user-setting li a:hover, .nav-user-setting li a:focus {
    background: url("../../../../../baiduyundownload/os/img/set-left.png") repeat scroll 0 0 transparent;
    border-bottom: 1px solid #C6D0D9;
    height: 28px;
    line-height: 28px;
}

.nav-adminMgr li.active a, .nav-adminMgr li.active a:hover, .nav-adminMgr li.active a:focus, .nav-user-setting li.active a, .nav-user-setting li.active a:hover, .nav-user-setting li.active a:focus {
    background: url("../../../../../baiduyundownload/os/img/set-left-on.png") repeat scroll 0 0 transparent;
}

#adminLeftView {
    font-family: Arial;
    color: #778294;
}

/*验证成功与失败图标*/
.icon-validate-ok, .fuelux .icon-validate-ok {
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url('../../../../../baiduyundownload/os/img/icons.png') -322px 0 no-repeat;
}

.icon-validate-fail,.fuelux .icon-validate-fail{
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url('../../../../../baiduyundownload/os/img/icons.png') -322px -14px no-repeat;
}

/*验证失败消息*/
.validate-error {
    color: #D43B12;
    font-family: bold;
    font-size: 14px;
}

.contact-select-dialog {
    height: 520px;
}

/*页尾*/
.footer{
    padding: 0 10px;
    background: #ccc;
    height: 23px;
    border: 1px solid #666;
}
.footer > li{
    display: inline-block;
    width: 49.8%;
}
.align-r{
    text-align: left;
}
.align-r{
    text-align: right;
}
